@font-face {
    font-family: 'NanumSquareB';
    src:local('NanumSquareB'), url('../../resource/font/NanumSquareB.otf') format('opentype');
    font-weight: bold;
}

@font-face {
    font-family: 'NanumSquareEB';
    src:local('NanumSquareEB'), url('../../resource/font/NanumSquareEB.otf') format('opentype');
    font-weight: 900;
}

@font-face {
    font-family: 'NanumSquareL';
    src:local('NanumSquareL'), url('../../resource/font/NanumSquareL.otf') format('opentype');
    font-weight: 300;
}

@font-face {
    font-family: 'NanumSquareR';
    src:local('NanumSquareR'), url('../../resource/font/NanumSquareR.otf') format('opentype');
    font-weight: normal;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "NanumSquareR", sans-serif;
    background: #F7F7F7;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
    color: inherit;
}

.loading{
    width:100%;
    height:100%;
    position:fixed;
    left:0;
    top:0;
    background:#fff;
}

@media screen and (min-width: 0px) and (max-width: 331px) {
    header {
        width: 100%;
        height: 50px;
        margin: 0 auto;
        background: white;
        text-align: center;
        padding: 0 0 15px 0;
    }

    .top {
        width: 100%;
        height: 30px;
        text-align: right;
        padding: 5px 0 0 0;
        background: #FFFFFF;
    }

    .top > div {
        margin: 0 5% 0 0;
    }

    .top > div > a {
        margin: 0 0 0 15px;
        font-size: 10pt;
    }

    header > a > img {
        float: left;
        margin: 16px 0 15px 5%;
        width: 23%;
    }

    section {
        margin: 0 auto;
    }

    .intro {
        width: 90%;
        text-align: center;
    }

    .intro > aside {
        background: white;
        margin: 20px 0 20px 0;
        transition : all 0.4s ease-in-out .1s;
        padding: 10px 10px 10px 10px;
    }

    .cardTitle {
        margin: 10px 0 10px 0;
        width: 100%;
        display: flex;
    }

    .titleLeft {
        font-family: "NanumSquareEB", sans-serif;
        font-size: 12pt;
        padding: 0 0 0 10px;
        text-align: left;
        width: 60%;
    }

    .right {
        font-size: 12pt;
        font-weight: 400;
        padding: 0 10px 0 0;
        width: 100%;
        text-align: right;
    }

    .underContent {
        width: 80%;
        padding: 90px 40px 40px 40px;
    }

    .titleArea {
        display: inline-block;
        text-align: left;
    }

    th {
        padding: 5px;
        font-weight: normal;
        transition : all 0.3s .1s;
    }

    .title-ellipsis {
        font-size: 11pt;
        width: 150px;
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .title-ellipsis:hover {
        background: #F0F0F0;
        border-radius: 8px;
    }

    .dateArea {
        font-size: 11pt;
        display: inline-block;
        width: 34%;
        text-align: center;
    }

    .dateArea > table > tbody > tr > th{
        float: right;
    }

    footer {
        padding: 20px 0 20px 0;
        text-align: center;
        width: 100%;
        background: #2F2F2F;
        transition : all 0.4s ease-in-out .1s;
    }

    footer > img {
        text-align: center;
        width: 23%;
    }

    footer > aside {
        margin: 0 auto;
        text-align: center;
    }

    footer > aside > div {
        color: white;
    }

    footer > aside > div > table {
        margin: 0 auto;
    }

    footer > div > div > table > tbody > tr > td > h2 {
        font-family: "NanumSquareEB", sans-serif;
        font-size: 13pt;
    }

    footer > div > div > table > tbody > tr {
        font-family: "NanumSquareR", sans-serif;
        font-size: 9pt;
    }

    footer > aside > div > table > tbody > tr > td > h2 {
        font-family: "NanumSquareEB", sans-serif;
        font-size: 13pt;
    }

    footer > aside > div > table > tbody > tr > td {
        font-family: "NanumSquareR", sans-serif;
        font-size: 9pt;
    }

    .left {
        text-align: center;
        margin: 0 auto;
        width: 170px;
        color: #FFFFFF;
    }

    .left > table {
        width: 80px;
    }

}

@media screen and (min-width: 331px) and (max-width: 768px) {
    header {
        width: 100%;
        height: 50px;
        margin: 0 auto;
        background: white;
        text-align: center;
        padding: 0 0 15px 0;
    }

    .top {
        width: 100%;
        height: 30px;
        text-align: right;
        padding: 5px 0 0 0;
        background: #FFFFFF;
    }

    .top > div {
        margin: 0 5% 0 0;
    }

    .top > div > a {
        margin: 0 0 0 15px;
        font-size: 10pt;
    }

    header > a > img {
        float: left;
        margin: 16px 0 15px 5%;
        width: 15%;
    }

    section {
        margin: 0 auto;
    }

    .intro {
        width: 90%;
        text-align: center;
    }

    .intro > aside {
        background: white;
        margin: 20px 0 20px 0;
        transition : all 0.4s ease-in-out .1s;
        padding: 10px 10px 10px 10px;
    }

    .cardTitle {
        margin: 10px 0 10px 0;
        width: 100%;
        display: flex;
    }

    .titleLeft {
        font-family: "NanumSquareEB", sans-serif;
        font-size: 12pt;
        padding: 0 0 0 10px;
        text-align: left;
        width: 60%;
    }

    .right {
        font-size: 12pt;
        font-weight: 400;
        padding: 0 10px 0 0;
        width: 100%;
        text-align: right;
    }

    .underContent {
        width: 80%;
        padding: 90px 40px 40px 40px;
    }

    .titleArea {
        display: inline-block;
        text-align: left;
        width: 70%;
    }

    th {
        padding: 5px;
        font-weight: normal;
        transition : all 0.3s .1s;
    }

    .title-ellipsis {
        font-size: 11pt;
        width: 170px;
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .title-ellipsis:hover {
        background: #F0F0F0;
        border-radius: 8px;
    }

    .dateArea {
        font-size: 11pt;
        display: inline-block;
        width: 25%;
        text-align: center;
    }

    .dateArea > table > tbody > tr > th{
        float: right;
    }

    footer {
        padding: 20px 0 20px 0;
        text-align: center;
        width: 100%;
        background: #2F2F2F;
        transition : all 0.4s ease-in-out .1s;
    }

    footer > img {
        text-align: center;
        width: 23%;
    }

    footer > aside {
        margin: 0 auto;
        text-align: center;
    }

    footer > aside > div {
        color: white;
    }

    footer > aside > div > table {
        margin: 0 auto;
    }

    footer > div > div > table > tbody > tr > td > h2 {
        font-family: "NanumSquareEB", sans-serif;
        font-size: 13pt;
    }

    footer > div > div > table > tbody > tr {
        font-family: "NanumSquareR", sans-serif;
        font-size: 9pt;
    }

    footer > aside > div > table > tbody > tr > td > h2 {
        font-family: "NanumSquareEB", sans-serif;
        font-size: 13pt;
    }

    footer > aside > div > table > tbody > tr > td {
        font-family: "NanumSquareR", sans-serif;
        font-size: 9pt;
    }

    .left {
        text-align: center;
        margin: 0 auto;
        width: 170px;
        color: #FFFFFF;
    }

    .left > table {
        width: 80px;
    }

}

@media screen and (min-width: 768px) and (max-width: 980px) {
    header {
        width: 100%;
        height: 50px;
        margin: 0 auto;
        background: white;
        text-align: center;
        padding: 0 0 15px 0;
    }

    .top {
        width: 100%;
        height: 30px;
        text-align: right;
        padding: 5px 0 0 0;
        background: #FFFFFF;
    }

    .top > div {
        margin: 0 5% 0 0;
    }

    .top > div > a {
        margin: 0 0 0 15px;
        font-size: 10pt;
    }

    header > a > img {
        float: left;
        margin: 16px 0 15px 5%;
        width: 12%;
    }

    section {
        margin: 0 auto;
    }

    .intro {
        width: 90%;
        text-align: center;
    }

    .intro > aside {
        background: white;
        margin: 0 0 20px 0;
        transition : all 0.4s ease-in-out .1s;
        padding: 10px 10px 10px 10px;
    }

    .cardTitle {
        margin: 10px 0 10px 0;
        width: 100%;
        display: flex;
    }

    .titleLeft {
        font-family: "NanumSquareEB", sans-serif;
        font-size: 12pt;
        padding: 0 0 0 10px;
        text-align: left;
        width: 60%;
    }

    .right {
        font-size: 12pt;
        font-weight: 400;
        padding: 0 10px 0 0;
        width: 100%;
        text-align: right;
    }

    .underContent {
        width: 80%;
        padding: 90px 40px 40px 40px;
    }

    .titleArea {
        display: inline-block;
        text-align: left;
        width: 70%;
        margin-right: 50px;
    }

    th {
        padding: 5px;
        font-weight: normal;
        transition : all 0.3s .1s;
    }

    .title-ellipsis {
        font-size: 11pt;
        width: 400px;
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .title-ellipsis:hover {
        background: #F0F0F0;
        border-radius: 8px;
    }

    .dateArea {
        font-size: 11pt;
        display: inline-block;
        width: 15%;
        text-align: center;
        margin-left: 10px;
    }

    .dateArea > table > tbody > tr > th{
        float: right;
    }

    footer {
        padding: 20px 0 20px 0;
        text-align: center;
        width: 100%;
        background: #2F2F2F;
        transition : all 0.4s ease-in-out .1s;
    }

    footer > img {
        text-align: center;
        width: 23%;
    }

    footer > aside {
        margin: 0 auto;
        text-align: center;
    }

    footer > aside > div {
        color: white;
    }

    footer > aside > div > table {
        margin: 0 auto;
    }

    footer > div > div > table > tbody > tr > td > h2 {
        font-family: "NanumSquareEB", sans-serif;
        font-size: 13pt;
    }

    footer > div > div > table > tbody > tr {
        font-family: "NanumSquareR", sans-serif;
        font-size: 9pt;
    }

    footer > aside > div > table > tbody > tr > td > h2 {
        font-family: "NanumSquareEB", sans-serif;
        font-size: 13pt;
    }

    footer > aside > div > table > tbody > tr > td {
        font-family: "NanumSquareR", sans-serif;
        font-size: 9pt;
    }

    .left {
        text-align: center;
        margin: 0 auto;
        width: 170px;
        color: #FFFFFF;
    }

    .left > table {
        width: 80px;
    }

}

@media screen and (min-width: 980px) and (max-width: 1344px) {
    header {
        width: 100%;
        height: 100px;
        margin: 0 auto;
        background: #FFFFFF;
    }

    .top {
        width: 100%;
        height: 30px;
        text-align: right;
        padding: 15px 0 0 0;
        background: #FFFFFF;
    }

    .top > div {
        margin: 0 15% 0 0;
    }

    .top > div > a {
        margin: 0 0 0 35px;
        font-size: 12pt;
    }

    header > a > img {
        margin: 28px 0 0 15%;
        width: 100px;
    }

    section {
        margin: 0 auto;
    }

    .intro {
        width: 80%;
        padding: 40px 40px 40px 40px;
        text-align: center;
    }

    .intro > aside {
        display: inline-block;
        width: 40%;
        background: white;
        text-align: center;
        padding: 20px;
        margin: 10px;
        transition : all 0.4s ease-in-out .1s;
    }

    .intro > aside:hover {
        padding: 25px;
    }

    .cardTitle {
        margin: 10px 0 20px 0;
        width: 100%;
        display: flex;
    }

    .titleLeft {
        font-family: "NanumSquareEB", sans-serif;
        font-size: 12pt;
        font-weight: bold;
        padding: 0 0 0 10px;
        text-align: left;
        width: 50%;
    }

    .right {
        font-size: 13pt;
        font-weight: 400;
        padding: 0 10px 0 0;
        width: 100%;
        text-align: right;
    }

    .underContent {
        width: 80%;
        padding: 90px 40px 40px 40px;
    }

    .titleArea {
        display: inline-block;
        text-align: left;
        width: 74%;
    }

    th {
        padding: 5px;
        font-weight: normal;
        transition : all 0.3s .1s;
    }

    .title-ellipsis {
        font-size: 11pt;
        width: 230px;
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .title-ellipsis:hover {
        background: #F0F0F0;
        border-radius: 8px;
    }

    .dateArea {
        font-size: 10pt;
        display: inline-block;
        width: 20%;
        text-align: center;
        line-height: 17px;
    }

    .dateArea > table > tbody > tr > th{
        float: right;
    }

    footer {
        float: left;
        width: 100%;
        background: #2F2F2F;
    }

    footer > img {
        float: left;
        margin: 40px 0 0 10%;
        width: 80px;
    }

    footer > aside {
        float: right;
        margin: 22px 15% 10px 10px;
        height: 200px;
    }

    footer > aside {
        font-weight: bold;
        font-size: 10pt;
        margin: 0 65px 0 40px;
        color: #FFFFFF;
    }

    footer > aside > div {
        float: right;
        color: white;
        margin: 22px 0 0 20px;
    }

    .left {
        float: left;
        margin: 22px 0 0 20px;
        width: 200px;
        color: #FFFFFF;
    }

    .left > table {
        width: 80px;
    }

}

@media screen and (min-width: 1344px) and (max-width: 1920px) {
    header {
        width: 100%;
        height: 100px;
        margin: 0 auto;
        background: #FFFFFF;
    }

    .top {
        width: 100%;
        height: 30px;
        text-align: right;
        padding: 15px 0 0 0;
        background: #FFFFFF;
    }

    .top > div {
        margin: 0 15% 0 0;
    }

    .top > div > a {
        margin: 0 0 0 35px;
        font-size: 12pt;
    }

    header > a > img {
        margin: 28px 0 0 15%;
        width: 100px;
    }

    section {
        margin: 0 auto;
    }

    .intro {
        width: 80%;
        padding: 40px 40px 40px 40px;
        text-align: center;
    }

    .intro > aside {
        display: inline-block;
        width: 35%;
        background: white;
        text-align: center;
        padding: 20px;
        margin: 10px;
        transition : all 0.4s ease-in-out .1s;
    }

    .intro > aside:hover {
        padding: 25px;
    }

    .cardTitle {
        margin: 10px 0 20px 0;
        width: 100%;
        display: flex;
    }

    .titleLeft {
        font-family: "NanumSquareEB", sans-serif;
        font-size: 15pt;
        font-weight: bold;
        padding: 0 0 0 10px;
        text-align: left;
        width: 50%;
    }

    .right {
        font-size: 15pt;
        font-weight: 400;
        padding: 0 10px 0 0;
        width: 100%;
        text-align: right;
    }

    .underContent {
        width: 80%;
        padding: 90px 40px 40px 40px;
    }

    .titleArea {
        display: inline-block;
        text-align: left;
        width: 74%;
    }

    th {
        padding: 8px;
        font-weight: normal;
        transition : all 0.3s .1s;
    }

    .title-ellipsis {
        font-size: 13pt;
        width: 280px;
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .title-ellipsis:hover {
        background: #F0F0F0;
        border-radius: 8px;
    }

    .dateArea {
        font-size: 13pt;
        display: inline-block;
        width: 21%;
        text-align: center;
    }

    .dateArea > table > tbody > tr > th{
        float: right;
    }

    footer {
        float: left;
        width: 100%;
        background: #2F2F2F;
    }

    footer > img {
        float: left;
        margin: 40px 0 0 15%;
        width: 100px;
    }

    footer > aside {
        float: right;
        margin: 22px 15% 10px 10px;
        height: 200px;
    }

    footer > aside > a {
        font-weight: bold;
        font-size: 15pt;
        margin: 0 40px 0 40px;
        color: #FFFFFF;
    }

    footer > aside > div {
        float: right;
        color: white;
        margin: 0 0 0 20px;
    }

    .left {
        float: left;
        margin: 22px 0 0 20px;
        width: 235px;
        color: #FFFFFF;
    }

    .left > table {
        width: 80px;
    }
}