html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    background: #F7F7F7;
}

#header {
    padding-top: 62px;
    padding-bottom: 20px;
    text-align: center;
}
#wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 1;
}
#wrapper::after{
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    content: "";
    background-image: url(../../resource/img/bg.jpg);
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.3;
}

#content {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 460px;
    background: #F7F7F7;
    padding: 20px 40px 0px 40px;
    margin-top: 60px;
    border-radius: 5px;
    box-shadow: 2px 2px 8px #8e8e8e;
}

/* 입력폼 */

input:focus {
    outline: none;
}

h3 {
    margin: 19px 0 8px;
    font-size: 14px;
    font-weight: 700;
}

.box {
    display: block;
    width: 100%;
    height: 51px;
    border: solid 1px #dadada;
    padding: 10px 14px 10px 14px;
    box-sizing: border-box;
    border-radius: 5px;
    background: #fff;
    position: relative;
}

.int {
    display: block;
    position: relative;
    width: 100%;
    height: 29px;
    border: none;
    background: #fff;
    font-size: 15px;
}

.box.int_id {
    padding-right: 150px;
}

.step_url {
    /*eamil*/
    position: absolute;
    width: 120px;
    top: 13px;
    right: 14px;
    font-size: 15px;
    color: #8e8e8e;
    /* border: 1px solid black; */
}

select {
    width: 100%;
    height: 29px;
    font-size: 15px;
    background: #fff url(https://static.nid.naver.com/images/join/pc/sel_arr_2x.gif) 100% 50% no-repeat;
    background-size: 20px 8px;
    -webkit-appearance: none;
    display: inline-block;
    text-align: start;
    border: none;
    cursor: default;
}

.sign{
    
}

/* 버튼 */

.btn_area {
    margin: 30px 0 91px;
}

#btnJoin {
    width: 100%;
    padding: 21px 0 17px;
    border: 0;
    cursor: pointer;
    color: #fff;
    background-color: #E06E37;
    font-size: 20px;
    font-weight: 400;
    border-radius: 5px;
}